<%- include('header', {title:'Karácsonyfák'}) -%>
<%- include('menu') -%>

<div class="container">
    <h1>Karácsonyfák</h1>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Fantázianév</th>
                    <th scope="col">Típus</th>
                    <th scope="col">Magasság (m)</th>
                    <th scope="col">Ár(forint)</th>
                </tr>
                </thead>
                <tbody>
                    <% karacsonyfak.forEach(function(karacsonyfa){ %>
                <tr>
                    <th scope="row">
                        <%= karacsonyfa.name %>
                    </th>
                    <td>
                        <%= karacsonyfa.type %>
                    </td>
                    <td>
                        <%= karacsonyfa.height %>
                    </td>
                    <td>
                        <%= karacsonyfa.price %>
                    </td>
                    <td>
                        <a href="/karacsonyfak/<%= vasarlo._id %>/edit/<%= karacsonyfa._id %>" class="btn btn-success btn-lg" role="button"><i class="fas fa-edit"></i></a>
                        <a href="/karacsonyfak/<%= vasarlo._id %>" class="btn btn-danger btn-lg" role="button"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
        <div class="container">
            <a href="/vasarlok" class="btn btn-info btn-back" role="button">Vissza a vásárlókhoz</a>
            <a href="/karacsonyfak/<%= vasarlo._id %>/new" class="btn btn-info btn-new" role="button">Új karácsonyfa</a>
        </div>
    </div>
<%- include('footer') -%>