<%- include('header', {title:'Vásárló'}) -%>
<%- include('menu') -%>

<div class="container">
    <h1>Vásárló <% if (typeof vasarlo === "undefined") { %>létrehozása<% }else{ %>módosítása <% } %></h1>
    <form method="post">
        <input type="hidden" name="id" id="id" value="<%= (typeof  vasarlo === "undefined") ? '' : vasarlo._id %>">
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="name">Név</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Név" value="<%= (typeof  vasarlo === "undefined") ? '' : vasarlo.name %>">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" value="<%= (typeof  vasarlo === "undefined") ? '' : vasarlo.email %>">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="city">Város</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="Budapest" value="<%= (typeof  vasarlo === "undefined") ? '' : vasarlo.city %>">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <!--                <button type="submit" class="btn btn-primary">Save</button>-->
                <input type="submit" class="btn btn-info btn-lg active" value="Vásárló mentése"/>
            </div>
            <div class="form-group col-md-4">
                <!--                <button type="button" class="btn btn-primary">Back to Customers</button>-->
                <a href="/vasarlok" class="btn btn-info btn-lg active" role="button">Vissza</a>
            </div>
        </div>
    </form>

<%- include('footer') -%>